@import "utils";

.button {
  width: 226px;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #253757;
  border-radius: 64px;
  background: #fff;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
