@import "utils";

.section-features {
  &__max-size-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  background-color: #56ccf2;
  display: block;
  background-image: url(../images/features/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: 198px 0 160px;
  &__heading {
    margin-top: 20px;

  }
}

.features-container {
  width: 362px;
  margin-left: 227px;

  .chapter-name {
    color: #fff;
    &:before {
      background-image: url(../images/sub-title/sub-title-icon-light.svg);
    }
  }

  .feature {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-top: 70px;
    position: relative;
    $icon-width: 64px;
    margin-left: $icon-width + 32px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: $icon-width;
      height: $icon-width;
      border-radius: 50%;
      left: -32px - $icon-width;
      top: 50%;
      background-color: #fff;
      transform: translate(0,-50%);
    }
  }

  .feature_1 {
    &:before {
      background-image: url(../images/features/features-item-icon-1.svg);
    }
  }

  .feature_2 {
    &:before {
      background-image: url(../images/features/features-item-icon-2.svg);
    }
  }

  .feature_3 {
    &:before {
      background-image: url(../images/features/features-item-icon-3.svg);
    }
  }

}

@media (min-width: 2000px) {
  .section-features {
    display: flex;
  }
  .features-container {
    margin-right: 1000px;
  }
}

@media (max-width: 1200px) {
  .section-features {
    background-size: none;
  }

  .features-container {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .section-features {
    padding: 10px;
  }

  .section-features__heading {
    text-align: center;
  }

  .features-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .feature {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-top: 70px;
      position: relative;
      $icon-width: 64px;
      margin-left: 0;

      &:before {

        position: static;

        transform: translate(0,-50%);
        margin: 0 auto;
      }
    }
  }
}
