$slider-width: 1146px;
$slider-height: 640px;
$slider-toogler-width: 81px;
$slider-toogler-height: 64px;

/*colors*/

$main-color: #56ccf2;
$second-color: #253757;
$third-color: #334563;

$step-card-width: 240px;
$step-card-height: 256px;
