/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.header {
  background-image: url(../images/header/Bg.png);
  background-size: 1600px 961px;
  /*1595px 961px*/
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }
  .header__nav {
    margin-left: 227px;
    margin-right: 424px; }
  .header__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    color: #fff;
    margin-left: 325px;
    margin-right: 521px;
    margin-top: 76px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__qoute {
    margin-top: 22px;
    margin-left: 325px;
    margin-right: 521px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #fff; }
  .header__button_learn-more {
    margin-top: 42px;
    margin-left: 325px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__slider {
    margin-top: 80px; }
  .header .sc-section {
    position: absolute;
    bottom: 277px;
    right: calc(50% - 717px); }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header__nav .nav__item {
        margin: 20px 0 0; }
      .header__nav .nav__item:first-child {
        margin-right: 0; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 100%; }
      .header__slider .slider__toogler {
        top: calc(100% - 10%);
        width: 12%;
        height: 10%; }
      .header__slider .slider__toogler_previous {
        left: calc(50% - 12% - 3%); }
      .header__slider .slider__toogler_next {
        left: 53%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 30px; }
      .header .sc-section__item:last-child {
        margin-right: 0; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 23px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 63px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1200px) and (max-width: 1530px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__heading {
      margin-right: 0; }
    .header__qoute {
      margin-right: 200px; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1600px) {
  .header__slider {
    margin-top: 80px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 227px; }
  .header__nav {
    -ms-flex-item-align: start;
        align-self: flex-start; } }

/*# sourceMappingURL=header.css.map */
