/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.nav__toggler {
  display: none; }
  .nav__toggler:not(:checked) ~ .nav__list {
    display: none; }
  .nav__toggler:not(:checked) ~ * .bg-div:nth-child(1) {
    left: 25px; }
  .nav__toggler:not(:checked) ~ * .bg-div:nth-child(2) {
    top: 8px;
    left: 25px; }
  .nav__toggler:not(:checked) ~ * .bg-div:nth-child(3) {
    top: 16px;
    left: 25px; }
  .nav__toggler:checked ~ * .bg-div:first-child {
    display: none; }
  .nav__toggler:checked ~ * .bg-div:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav__toggler:checked ~ * .bg-div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.nav__toggle-label {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0 auto; }
  .nav__toggle-label .bg-div {
    background-color: #fff;
    width: 40px;
    margin-top: 20px;
    position: absolute;
    height: 5px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    left: 5px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  @media (min-width: 768px) {
    .nav__toggle-label {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav__item {
  margin-right: 63px;
  margin-top: 3px; }

.nav__item:first-child {
  margin-right: 143px;
  margin-top: 0; }
  .nav__item:first-child .link {
    font-size: 32px;
    line-height: 100%; }

.nav__item:last-child {
  margin-right: 0;
  margin-left: 62px; }

.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  white-space: nowrap;
  position: relative; }
  .nav__link:before {
    position: absolute;
    content: "";
    display: none;
    width: calc(100% + 10px);
    height: 4px;
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /*stylelint-enable*/
    border-radius: 32px;
    bottom: -5px;
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0); }
  .nav__link:hover:before {
    display: block; }
  .nav__link-hoover:before {
    display: block; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.button {
  width: 226px;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #253757;
  border-radius: 64px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.slider {
  width: 1146px;
  position: relative; }
  .slider__img {
    width: 100%; }
  .slider__toogler {
    width: 81px;
    height: 64px;
    background: #fcc304;
    position: absolute;
    top: calc(100% / 2); }
  .slider__toogler_previous {
    border-radius: 50px 0 0 50px;
    left: -81px;
    -webkit-transform: translate(0, calc(-$slider-toogler-height / 2));
            transform: translate(0, calc(-$slider-toogler-height / 2));
    background-image: url(../images/slider/toogler_previous.png);
    background-repeat: no-repeat;
    background-position: center; }
  .slider__toogler_next {
    border-radius: 0 50px 50px 0;
    -webkit-transform: translate(0, calc(-$slider-toogler-height / 2));
            transform: translate(0, calc(-$slider-toogler-height / 2));
    background-image: url(../images/slider/toogler_next.png);
    background-repeat: no-repeat;
    background-position: center; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.sc-section__item {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 154px; }

.sc-section__link {
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.header-container {
  background: linear-gradient(115deg, #56ccf2 50%, #fff 50%, #fff 100%);
  background-size: 100% 66%;
  background-repeat: no-repeat; }

.header {
  background: linear-gradient(115deg, #56ccf2 75%, #fff 75%, #fff 100%);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }
  .header__nav {
    padding: 0 5px; }
  .header__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    color: #fff;
    margin-left: 320px;
    padding: 0 5px;
    margin-top: 76px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__qoute {
    margin-top: 22px;
    margin-left: 320px;
    padding: 0 5px;
    margin-right: 521px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #fff; }
  .header__button_learn-more {
    margin-top: 42px;
    margin-left: 325px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__slider {
    margin-top: 80px; }
  .header .sc-section {
    position: absolute;
    bottom: 277px;
    right: calc(50% - 717px); }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    background: none; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header__nav .nav__item {
        margin: 20px 0 0; }
      .header__nav .nav__item:first-child {
        margin-right: 0; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 100%; }
      .header__slider .slider__toogler {
        top: auto;
        /*top: calc(100% - 10%);*/
        bottom: 4px;
        opacity: 0.7; }
      .header__slider .slider__toogler_previous {
        left: calc(50% - 81px - 3%); }
      .header__slider .slider__toogler_next {
        left: 53%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 30px; }
      .header .sc-section__item:last-child {
        margin-right: 0; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    background: none; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 23px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    background: none; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 63px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1200px) and (max-width: 1530px) {
  .header {
    background: none; }
    .header__heading {
      margin-right: 0; }
    .header__qoute {
      margin-right: 200px; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1600px) {
  .header__slider {
    margin-top: 80px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 227px; }
  .header__nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 222px; } }

@media (max-width: 1530px) {
  .header-container {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #56ccf2), color-stop(90%, #fff), to(#fff));
    background: linear-gradient(180deg, #56ccf2 90%, #fff 90%, #fff 100%); } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.services {
  max-width: 1600px;
  margin: 0 auto; }
  .services__intro-section {
    text-align: left;
    max-width: 742px; }
    .services__intro-section .intro {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #253757;
      width: 100%;
      margin-top: 19px; }
  .services__heading {
    margin-top: 136px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757; }
  .services .service-cards-container {
    margin-top: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 162px; }
  .services .service {
    width: 264px;
    margin-right: 128px; }
    .services .service:last-child {
      margin-right: 0; }
    .services .service__photo {
      width: 160px;
      height: 160px;
      border-radius: 50%; }
    .services .service__name {
      margin-top: 64px;
      font-style: normal;
      font-weight: 900;
      font-size: 19.6px;
      line-height: 140%;
      color: #253757; }
    .services .service__description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #334563;
      margin-top: 32px; }

.chapter-name {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  position: relative;
  margin-left: 37px; }
  .chapter-name:before {
    display: block;
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../images/sub-title/sub-title-icon-dark.svg);
    left: -37px; }

@media (min-width: 1600px) {
  .services .service-cards-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 227px; } }

@media (max-width: 1100px) {
  .services {
    padding: 10px; }
    .services__intro-section {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .intro {
    text-align: center; }
  .services .service-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 50px; }
    .services .service-cards-container .service {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 130px 0 0;
      text-align: center; }
      .services .service-cards-container .service:first-child {
        margin: 0; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-process {
  padding: 160px 0 290px;
  background-color: #fcfcfd; }
  .section-process__container {
    width: 1088px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative; }
  .section-process__heading-container {
    width: 362px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-process__heading {
    margin-top: 20px; }
  .section-process__description {
    margin-top: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334563; }
  .section-process .steps-card {
    width: 240px;
    height: 256px;
    background: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    position: absolute; }
    .section-process .steps-card__step {
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 64px;
      position: relative; }
      .section-process .steps-card__step:before {
        content: "";
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(163, 21, 21, 0.26);
        bottom: 24px;
        left: 94px; }
    .section-process .steps-card__step-descripion {
      font-style: normal;
      font-weight: normal;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      color: #253757; }
  .section-process .steps-card_1 {
    left: 548px;
    top: 176px; }
    .section-process .steps-card_1 .steps-card__step {
      color: #56ccf2; }
      .section-process .steps-card_1 .steps-card__step:before {
        background: #56ccf2;
        opacity: 0.1; }
  .section-process .steps-card_2 {
    left: 846px;
    top: 64px; }
    .section-process .steps-card_2 .steps-card__step {
      color: #fcc304; }
      .section-process .steps-card_2 .steps-card__step:before {
        background: #fcc304;
        opacity: 0.1; }
  .section-process .steps-card_4 {
    left: 846px;
    top: 436px; }
    .section-process .steps-card_4 .steps-card__step {
      color: #f25656; }
      .section-process .steps-card_4 .steps-card__step:before {
        background: #f25656;
        opacity: 0.1; }
  .section-process .steps-card_3 {
    left: 548px;
    top: 548px; }
    .section-process .steps-card_3 .steps-card__step {
      color: #03d542; }
      .section-process .steps-card_3 .steps-card__step:before {
        background: #03d542;
        opacity: 0.1; }

@media (min-width: 1600px) {
  .section-process__container {
    margin-right: 59px; }
  .section-process__heading-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media screen and (max-width: 1200px) {
  .section-process {
    padding: 10px; }
    .section-process__heading-container {
      width: 100%; }
    .section-process .chapter-name {
      text-align: center; }
    .section-process__heading {
      text-align: center; }
    .section-process__description {
      text-align: center; }
    .section-process__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
    .section-process .steps-container {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px; }
      .section-process .steps-container .steps-card {
        position: static; } }

@media screen and (max-width: 600px) {
  .section-process .steps-container {
    grid-template-columns: 1fr; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-features {
  background-color: #56ccf2;
  display: block;
  background-image: url(../images/features/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: 198px 0 160px; }
  .section-features__max-size-container {
    max-width: 1600px;
    margin: 0 auto; }
  .section-features__heading {
    margin-top: 20px; }

.features-container {
  width: 362px;
  margin-left: 227px; }
  .features-container .chapter-name {
    color: #fff; }
    .features-container .chapter-name:before {
      background-image: url(../images/sub-title/sub-title-icon-light.svg); }
  .features-container .feature {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-top: 70px;
    position: relative;
    margin-left: 96px; }
    .features-container .feature:before {
      content: "";
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      left: -96px;
      top: 50%;
      background-color: #fff;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .features-container .feature_1:before {
    background-image: url(../images/features/features-item-icon-1.svg); }
  .features-container .feature_2:before {
    background-image: url(../images/features/features-item-icon-2.svg); }
  .features-container .feature_3:before {
    background-image: url(../images/features/features-item-icon-3.svg); }

@media (min-width: 2000px) {
  .section-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features-container {
    margin-right: 1000px; } }

@media (max-width: 1200px) {
  .section-features {
    background-size: none; }
  .features-container {
    margin: 0 auto; } }

@media (max-width: 500px) {
  .section-features {
    padding: 10px; }
  .section-features__heading {
    text-align: center; }
  .features-container {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .features-container .feature {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-top: 70px;
      position: relative;
      margin-left: 0; }
      .features-container .feature:before {
        position: static;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        margin: 0 auto; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-testimonials {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 165px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 688px; }
  .section-testimonials__chapter-name {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 264px; }
  .section-testimonials__heading {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 227px;
    margin-top: 20px; }
  .section-testimonials .clients-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 384px; }

.client {
  margin-right: 78px;
  background-color: white;
  width: 314px;
  height: 464px;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .client:last-child {
    margin-right: 0; }
  .client:before {
    content: "";
    display: block;
    position: absolute;
    width: 161px;
    height: 64px;
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /*stylelint-enable*/
    border-radius: 500px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    top: 90px;
    left: 80px; }
  .client__photo {
    margin-top: 95px;
    z-index: 1; }
  .client__response {
    font-style: italic;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .client__separator {
    margin-top: 31px;
    width: 64px;
    height: 2px;
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /*stylelint-enable*/ }
  .client__name {
    font-style: normal;
    font-weight: bold;
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
    color: #152032;
    margin-top: 31px; }
  .client__position {
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .client:nth-child(2):before {
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /*stylelint-enable*/ }
  .client:nth-child(2) .client__separator {
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /*stylelint-enable*/ }
  .client:nth-child(2) .client__position {
    color: #fcc304; }
  .client:nth-child(3):before {
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
    /*stylelint-enable*/ }
  .client:nth-child(3) .client__separator {
    /*stylelint-disable*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
    /*stylelint-enable*/ }
  .client:nth-child(3) .client__position {
    color: #f25656; }

@media (max-width: 1150px) {
  .section-testimonials {
    height: auto;
    padding: 10px; }
    .section-testimonials__chapter-name {
      margin: 30px auto 0; }
    .section-testimonials__heading {
      margin: 20px auto 0;
      text-align: center; }
    .section-testimonials .clients-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: static; }
  .client {
    margin: 40px 0 0; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-cta {
  margin: 0 auto;
  padding: 320px 0 160px;
  background-image: url(../images/cta/fon.png);
  background-color: #fcfcfd;
  background-repeat: no-repeat;
  background-position: bottom; }
  .section-cta__container {
    width: 754px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-cta__heading {
    margin-top: 0; }
  .section-cta__description {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #334563;
    margin-top: 54px; }
  .section-cta__button-apply {
    margin-top: 55px;
    background: #2f80ed;
    color: white; }

@media (max-width: 1150px) {
  .section-cta {
    padding: 20px 10px 10px;
    background-size: contain; }
    .section-cta .section-cta__container {
      width: 100%; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.footer-bg-container {
  background-color: #fcfcfd; }

.footer {
  background-color: #fcfcfd;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 96px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .footer .send-us-message-form {
    margin-left: 227px; }
    .footer .send-us-message-form__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .footer .send-us-message-form .input {
      margin-top: 48px;
      width: 656px;
      height: 41px;
      background-color: #fcfcfd;
      outline: none;
      border: none;
      border-bottom: 1px solid #e1e1e1; }
      .footer .send-us-message-form .input:first-child {
        margin-top: 104px; }
      .footer .send-us-message-form .input::-webkit-input-placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032; }
      .footer .send-us-message-form .input::-moz-placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032; }
      .footer .send-us-message-form .input:-ms-input-placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032; }
      .footer .send-us-message-form .input::-ms-input-placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032; }
      .footer .send-us-message-form .input::placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032; }
    .footer .send-us-message-form__button-send {
      margin-top: 105px;
      background: #2f80ed;
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 1px; }
  .footer .contact-us__container {
    margin-left: 128px;
    max-width: 362px; }
  .footer .contact-us__heading {
    margin-top: 19px; }
  .footer .contact-us__invite {
    margin-top: 43px;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563; }
  .footer .contact-us__invite-link {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .footer .contact-us__invite-link:hover {
      color: #640e0e; }
  .footer .contact-us__sc-container {
    margin-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 192px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .contact-us__sc-container .sc-link {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url(../images/footer-icons/twitter.png); }
      .footer .contact-us__sc-container .sc-link:nth-child(2) {
        background-image: url(../images/footer-icons/insta.png); }
      .footer .contact-us__sc-container .sc-link:nth-child(3) {
        background-image: url(../images/footer-icons/facebook.png); }
  .footer__nav {
    margin: 136px auto 83px; }
    .footer__nav .nav__item {
      margin-top: 0; }
      .footer__nav .nav__item:first-child {
        margin-right: 384px; }
      .footer__nav .nav__item:last-child {
        margin-right: 0;
        margin-left: 0; }
    .footer__nav .nav__link {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: #253757; }

@media (max-width: 1500px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer .send-us-message-form {
      margin-left: 0; }
    .footer__nav {
      margin-left: 0;
      margin-right: 0; } }

@media (max-width: 1200px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .footer .send-us-message-form {
      margin-left: 0; }
      .footer .send-us-message-form__button-send {
        margin-top: 50px;
        -ms-flex-item-align: center;
            align-self: center; }
    .footer .contact-us__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: none;
      width: 100%;
      margin-top: 60px;
      margin-left: 0; }
    .footer__nav {
      margin-left: 0;
      margin-right: 0; }
      .footer__nav .nav__list > * {
        margin-right: 20px; } }

@media (max-width: 1024px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .footer .send-us-message-form {
      margin-left: 0; }
      .footer .send-us-message-form__button-send {
        margin-top: 50px;
        -ms-flex-item-align: center;
            align-self: center; }
    .footer .contact-us__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: none;
      width: 100%;
      margin-top: 60px;
      margin-left: 0; }
    .footer__nav {
      margin-left: 0;
      margin-right: 0; }
      .footer__nav .nav__list .nav__item {
        margin-right: 20px; }
        .footer__nav .nav__list .nav__item:first-child {
          margin-right: 50px; } }

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0; }
    .footer .send-us-message-form {
      margin-left: 0;
      width: 100%; }
      .footer .send-us-message-form__button-send {
        margin-top: 50px;
        -ms-flex-item-align: center;
            align-self: center; }
      .footer .send-us-message-form__chapter-name {
        -ms-flex-item-align: center;
            align-self: center; }
      .footer .send-us-message-form .input {
        width: 100%; }
    .footer .contact-us__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: none;
      width: 100%;
      margin-top: 60px;
      margin-left: 0; }
      .footer .contact-us__container .contact-us__heading {
        text-align: center; }
      .footer .contact-us__container .contact-us__invite-link {
        text-align: center; }
    .footer__nav {
      margin-left: 0;
      margin-right: 0; }
      .footer__nav .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer__nav .nav__list .nav__item {
          margin-right: 0;
          margin-top: 20px; }
          .footer__nav .nav__list .nav__item:first-child {
            margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
