/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav__item {
  margin-right: 63px;
  margin-top: 3px; }

.nav__item:first-child {
  margin-right: 143px;
  margin-top: 0; }
  .nav__item:first-child .link {
    font-size: 32px;
    line-height: 100%; }

.nav__item:last-child {
  margin-right: 0;
  margin-left: 62px; }

.nav__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  white-space: nowrap; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.button {
  width: 226px;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #253757;
  border-radius: 64px;
  background: #fff; }
  .button:hover {
    cursor: pointer; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.slider {
  width: 1146px;
  position: relative; }
  .slider__img {
    width: 100%; }
  .slider__toogler {
    width: 81px;
    height: 64px;
    background: #fcc304;
    position: absolute;
    top: calc(100% / 2); }
  .slider__toogler_previous {
    border-radius: 50px 0 0 50px;
    left: -81px;
    -webkit-transform: translate(0, calc(-$slider-toogler-height / 2));
            transform: translate(0, calc(-$slider-toogler-height / 2));
    background-image: url(../images/slider/toogler_previous.png);
    background-repeat: no-repeat;
    background-position: center; }
  .slider__toogler_next {
    border-radius: 0 50px 50px 0;
    -webkit-transform: translate(0, calc(-$slider-toogler-height / 2));
            transform: translate(0, calc(-$slider-toogler-height / 2));
    background-image: url(../images/slider/toogler_next.png);
    background-repeat: no-repeat;
    background-position: center; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.sc-section__item {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 154px; }

.sc-section__link {
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.header {
  background: url(../images/header/Bg.png);
  background-size: 1595px 961px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .header__nav {
    margin-left: 227px;
    margin-right: 424px; }
  .header__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    color: #fff;
    margin-left: 325px;
    margin-right: 521px;
    margin-top: 76px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__qoute {
    margin-top: 22px;
    margin-left: 325px;
    margin-right: 521px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #fff; }
  .header__button_learn-more {
    margin-top: 42px;
    margin-left: 325px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .header__slider {
    margin-top: 80px; }
  .header .sc-section {
    position: absolute;
    bottom: 277px;
    right: calc(50% - 717px); }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header__nav .nav__item {
        margin: 20px 0 0; }
      .header__nav .nav__item:first-child {
        margin-right: 0; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 100%; }
      .header__slider .slider__toogler {
        top: calc(100% - 10%);
        width: 12%;
        height: 10%; }
      .header__slider .slider__toogler_previous {
        left: calc(50% - 12% - 3%); }
      .header__slider .slider__toogler_next {
        left: 53%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 30px; }
      .header .sc-section__item:last-child {
        margin-right: 0; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 23px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__nav {
      margin-left: 0;
      margin-right: 0; }
      .header__nav .nav__item:first-child {
        margin-right: 63px; }
      .header__nav .nav__item:last-child {
        margin-left: 0; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1200px) and (max-width: 1530px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover; }
    .header__heading {
      margin-left: 0;
      margin-right: 0;
      -ms-flex-item-align: center;
          align-self: center; }
    .header__qoute {
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__slider {
      width: 75%; }
    .header .sc-section {
      position: static;
      margin-top: 20px; }
      .header .sc-section-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header .sc-section__item {
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
        margin-right: 80px; } }

@media (min-width: 1600px) {
  .header {
    background-position: 50% 0%;
    background-size: contain; }
    .header__heading {
      -ms-flex-item-align: center;
          align-self: center; }
    .header__button_learn-more {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0; }
    .header__qoute {
      text-align: center; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section:nth-child(odd) {
    background: #e5e5e5; }
  .section__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757; }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.services__intro-section {
  text-align: left;
  max-width: 742px; }
  .services__intro-section .intro {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757;
    width: 100%;
    margin-top: 19px; }

.services__heading {
  margin-top: 136px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757; }

.services .service-cards-container {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 162px; }

.services .service {
  width: 264px;
  margin-right: 128px; }
  .services .service:last-child {
    margin-right: 0; }
  .services .service__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%; }
  .services .service__name {
    margin-top: 64px;
    font-style: normal;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    color: #253757; }
  .services .service__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334563;
    margin-top: 32px; }

.chapter-name {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  position: relative;
  margin-left: 37px; }
  .chapter-name:before {
    display: block;
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../images/sub-title/sub-title-icon-dark.svg);
    left: -37px; }

@media (max-width: 1100px) {
  .services {
    padding: 10px; }
  .intro {
    text-align: center; }
  .service-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .service-cards-container .service {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 60px 0 0;
      border-bottom: 1px solid #253757; }
      .service-cards-container .service:first-child {
        margin: 0; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-process {
  padding: 160px 0 290px; }
  .section-process__container {
    width: 1088px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative; }
  .section-process__heading-container {
    width: 362px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .section-process__heading {
    margin-top: 20px; }
  .section-process__description {
    margin-top: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334563; }
  .section-process .steps-card {
    width: 240px;
    height: 256px;
    background: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    position: absolute; }
    .section-process .steps-card__step {
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 64px;
      position: relative; }
      .section-process .steps-card__step:before {
        content: "";
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(163, 21, 21, 0.26);
        bottom: 24px;
        left: 94px; }
    .section-process .steps-card__step-descripion {
      font-style: normal;
      font-weight: normal;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      color: #253757; }
  .section-process .steps-card_1 {
    left: 548px;
    top: 176px; }
    .section-process .steps-card_1 .steps-card__step {
      color: #56ccf2; }
      .section-process .steps-card_1 .steps-card__step:before {
        background: #56ccf2;
        opacity: 0.1; }
  .section-process .steps-card_2 {
    left: 846px;
    top: 64px; }
    .section-process .steps-card_2 .steps-card__step {
      color: #fcc304; }
      .section-process .steps-card_2 .steps-card__step:before {
        background: #fcc304;
        opacity: 0.1; }
  .section-process .steps-card_4 {
    left: 846px;
    top: 436px; }
    .section-process .steps-card_4 .steps-card__step {
      color: #f25656; }
      .section-process .steps-card_4 .steps-card__step:before {
        background: #f25656;
        opacity: 0.1; }
  .section-process .steps-card_3 {
    left: 548px;
    top: 548px; }
    .section-process .steps-card_3 .steps-card__step {
      color: #03d542; }
      .section-process .steps-card_3 .steps-card__step:before {
        background: #03d542;
        opacity: 0.1; }

@media screen and (max-width: 1200px) {
  .section-process {
    padding: 10px; }
    .section-process__heading-container {
      width: 100%; }
    .section-process .chapter-name {
      text-align: center; }
    .section-process__heading {
      text-align: center; }
    .section-process__description {
      text-align: center; }
    .section-process__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
    .section-process .steps-container {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px; }
      .section-process .steps-container .steps-card {
        position: static; } }

@media screen and (max-width: 600px) {
  .section-process .steps-container {
    grid-template-columns: 1fr; } }

/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-features {
  background-image: url(../images/features/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: 198px 0 160px;
  display: block; }
  .section-features__heading {
    margin-top: 20px; }

.features-container {
  width: 362px;
  margin-left: 14%; }
  .features-container .chapter-name {
    color: #fff; }
    .features-container .chapter-name:before {
      background-image: url(../images/sub-title/sub-title-icon-light.svg); }
  .features-container .feature {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-top: 70px;
    position: relative;
    margin-left: 64px; }
    .features-container .feature:before {
      content: "";
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      left: -96px;
      top: 50%;
      background-color: #fff;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .features-container .feature_1:before {
    background-image: url(../images/features/features-item-icon-1.svg); }
  .features-container .feature_2:before {
    background-image: url(../images/features/features-item-icon-2.svg); }
  .features-container .feature_3:before {
    background-image: url(../images/features/features-item-icon-3.svg); }

@media (min-width: 2000px) {
  .section-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features-container {
    margin-right: 1000px; } }

@media (max-width: 1200px) {
  .section-features {
    background-size: none; }
  .features-container {
    margin: 0 auto; } }

@media (max-width: 500px) {
  .section-features {
    padding: 10px; }
  .section-features__heading {
    text-align: center; }
  .features-container {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .features-container .feature {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-top: 70px;
      position: relative;
      margin-left: 0; }
      .features-container .feature:before {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        position: static;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        margin-left: calc(50% - 64px); } }

/*# sourceMappingURL=main.css.map */
