/*colors*/
/*colors*/
html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  outline: none; }

li {
  list-style: none; }

.link {
  text-decoration: none; }
  .link:hover {
    cursor: pointer; }

button {
  border: none; }

.section-process {
  padding: 160px 0 290px;
  background-color: #fcfcfd; }
  .section-process__container {
    width: 1088px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative; }
  .section-process__heading-container {
    width: 362px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-process__heading {
    margin-top: 20px; }
  .section-process__description {
    margin-top: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334563; }
  .section-process .steps-card {
    width: 240px;
    height: 256px;
    background: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    position: absolute; }
    .section-process .steps-card__step {
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 64px;
      position: relative; }
      .section-process .steps-card__step:before {
        content: "";
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(163, 21, 21, 0.26);
        bottom: 24px;
        left: 94px; }
    .section-process .steps-card__step-descripion {
      font-style: normal;
      font-weight: normal;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
      color: #253757; }
  .section-process .steps-card_1 {
    left: 548px;
    top: 176px; }
    .section-process .steps-card_1 .steps-card__step {
      color: #56ccf2; }
      .section-process .steps-card_1 .steps-card__step:before {
        background: #56ccf2;
        opacity: 0.1; }
  .section-process .steps-card_2 {
    left: 846px;
    top: 64px; }
    .section-process .steps-card_2 .steps-card__step {
      color: #fcc304; }
      .section-process .steps-card_2 .steps-card__step:before {
        background: #fcc304;
        opacity: 0.1; }
  .section-process .steps-card_4 {
    left: 846px;
    top: 436px; }
    .section-process .steps-card_4 .steps-card__step {
      color: #f25656; }
      .section-process .steps-card_4 .steps-card__step:before {
        background: #f25656;
        opacity: 0.1; }
  .section-process .steps-card_3 {
    left: 548px;
    top: 548px; }
    .section-process .steps-card_3 .steps-card__step {
      color: #03d542; }
      .section-process .steps-card_3 .steps-card__step:before {
        background: #03d542;
        opacity: 0.1; }

@media (min-width: 1600px) {
  .section-process__container {
    margin-right: 59px; }
  .section-process__heading-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media screen and (max-width: 1200px) {
  .section-process {
    padding: 10px; }
    .section-process__heading-container {
      width: 100%; }
    .section-process .chapter-name {
      text-align: center; }
    .section-process__heading {
      text-align: center; }
    .section-process__description {
      text-align: center; }
    .section-process__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
    .section-process .steps-container {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px; }
      .section-process .steps-container .steps-card {
        position: static; } }

@media screen and (max-width: 600px) {
  .section-process .steps-container {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=section-process.css.map */
